
# Dependências de pacotes
node_modules/
target/
build/
dist/

# IDEs
.idea/
.vscode/

# Sistema operacional
.DS_Store     # macOS
Thumbs.db      # Windows

# Arquivos de log
*.log

# Arquivos binários
*.exe
*.dll
*.so

# Arquivos de configuração do ambiente local
.env
ormconfig.*


.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

